*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
}

.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}

.bg-success {
	background-color: green;
}

.bg-secondary {
	background-color: gray;
}

.bg-warning {
	background-color: yellow;
}

.bg-danger {
	background-color: darkred;
}

.p-3 {
	padding: 3rem;
}

.d-flex {
	display: flex;
}

.justify-content-center{
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flex-column-reverse {
	flex: column;
	flex-direction: reverse;
}